@import './_constants.scss';

.root {
    max-width: 800px;
    margin: auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.yesHeading {
    font-size: 24px;
    color: $yes-colour;
}

.noHeading {
    font-size: 24px;
    color: $no-colour;
}
